<div class="col-8">
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      placeholder="Full Name"
      name="name"
      value="{{this.name}}"
    />
    <label for="floatingInput">Full Name</label>
  </div>
</div>
<div class="col-4">
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      placeholder="Matric ID"
      name="matric_id"
      value="{{this.matric_id}}"
    />
    <label for="floatingInput">Matric ID</label>
  </div>
</div>

<div class="col-8">
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      placeholder="Email"
      name="email"
      value="{{this.email}}"
    />
    <label for="floatingInput">E-Mail</label>
  </div>
</div>
<div class="col-4">
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      placeholder="Course"
      name="course"
      value="{{this.course}}"
    />
    <label for="floatingInput">Course</label>
  </div>
</div>

<div class="col-6">
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      placeholder="Company Name"
      name="company"
      value="{{this.company}}"
    />
    <label for="floatingInput">Company Name</label>
  </div>
</div>

<div class="col-12 d-grid">
  <button type="submit" class="btn btn-primary">Submit</button>
</div>